<div class="container">
    <div class="section">
        <span style="color: {{resource.color}}">{{resource.name}}</span>
    </div>
    <div class="section">
        <span>
            {{formatService.round(resource.amount)}}
        </span>
    </div>
    <div class="section">
        <span>
            /{{formatService.round(resource.maximum)}}
        </span>
    </div>
    <div class="section">
        <span *ngIf="resource.totalProduction > 0" 
            (mouseenter)="showTooltip = true"
            (mouseleave)="showTooltip = false" >

            (+{{ formatService.round(resource.totalProduction) }}/sec)
        </span>
        <span *ngIf="resource.totalProduction < 0"
            (mouseenter)="showTooltip = true"
            (mouseleave)="showTooltip = false" >

            ({{ formatService.round(resource.totalProduction) }}/sec)
        </span>
    </div>
</div>
<tooltip *ngIf="showTooltip" [gameObject]="resource" type="resource"></tooltip>
