<div class="resource">
    <div class="priceRow" >
        <div>{{ resourceInfo.resource.name }}:</div>
        <div>{{ resourceInfo.price }}</div>
    </div>
    <div *ngIf="isCraftable">
        <div *ngFor="let resourceRequired of $any(resourceInfo).resourcesRequired" class="craftResourceRow">
            <div class="arrowPadding">> </div>
            <tooltip-price-info [resourceInfo]="$any(resourceInfo).findUsedResource(resourceRequired.name)"
                                class="craftResource">
            </tooltip-price-info>
        </div>
    </div>
</div>
