<div class="resource">
    <div [ngClass]="{'insufficientMaterial': resourceInfo.resource.amount < resourceInfo.price, 'priceRow': true }" >
        <div>{{ resourceInfo.resource.name }}:</div>
        <div>
            <span *ngIf="resourceInfo.resource.amount < resourceInfo.price">
                {{formatService.round(resourceInfo.resource.amount)}} /
            </span>
            {{ formatService.round(resourceInfo.price) }}
            <span *ngIf="!isCraftable && resourceInfo.resource.amount < resourceInfo.price && $any(resourceInfo).resource.currentProduction > 0">
                ({{ formatService.timeUntil(resourceInfo.price - resourceInfo.resource.amount, $any(resourceInfo).resource.currentProduction) }})
            </span>
        </div>
    </div>
    <div *ngIf="isCraftable">
        <div *ngFor="let resourceRequired of $any(resourceInfo).resource.resourcesRequired" class="craftResourceRow">
            <div [ngClass]="{'insufficientMaterial': resourceInfo.resource.amount < resourceInfo.price, 'arrowPadding': true }">
                >
            </div>
            <tooltip-price-info [resourceInfo]="$any(resourceInfo).resource.findUsedResource(resourceRequired.name)"
                                class="craftResource">
            </tooltip-price-info>
        </div>
    </div>
</div>
