<div [ngClass]="{'tooltipWidth': type !== 'text', 'tooltipFormat': true}">
    <div *ngIf="type !== 'resource' && type !== 'text'" class="widthFormat">
        <div class="tooltip">{{ gameObject.toolTipText }}</div>
        <div class="smallSpace"></div>
        <div class="line"></div>
        <div class="mediumSpace"></div>
        <div *ngFor="let resourceRequired of gameObject.resourcesRequired;">
            <tooltip-price-info [resource]="findResource(resourceRequired.name)"
                                [price]="resourceRequired.price"
                                [allResources]="resources">
            </tooltip-price-info>
        </div>
        <div *ngIf="gameObject.effects.length">
            <div class="mediumSpace"></div>
            <div class="line"></div>
            <div class="smallSpace"></div>
            <div *ngFor="let effect of gameObject.effects">
                <tooltip-effect-info [effect]="effect"></tooltip-effect-info>
            </div>
        </div>
        <div *ngIf="gameObject.secondaryToolTip">
            <div class="smallSpace"></div>
            <div class="secondaryTooltip">{{ gameObject.secondaryToolTip }}</div>
        </div>
    </div>
    <div *ngIf="type === 'text'" class="tooltip">
        {{ gameObject }}
    </div>
</div>
